<a href="https://colab.research.google.com/github/LeoVinacur/Python/blob/main/Copia_de_PRESIDENTS_ANALYSIS.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [21]:
import pandas as pd

In [23]:
df = pd.read_csv('us_presidents2.csv', sep = ',')

# SELECCION

Ver las primeras 5 lineas del dataframe

In [ ]:
df.head(5)

,Unnamed: 0,S.No.,start,end,president,prior,party,vice
0,0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams
1,1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson
2,2,3,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr
3,3,4,"March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton
4,4,5,"March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins

Ver las ultimas 5 lineas

In [ ]:
df.tail(5)

,Unnamed: 0,S.No.,start,end,president,prior,party,vice
40,40,41,"January 20, 1989","January 20, 1993",George H. W. Bush,43rd Vice President of the United States,Republican,Dan Quayle
41,41,42,"January 20, 1993","January 20, 2001",Bill Clinton,40th & 42nd Governor of Arkansas (1979–1981...,Democratic,Al Gore
42,42,43,"January 20, 2001","January 20, 2009",George W. Bush,46th Governor of Texas ( 1995–2000 ),Republican,Dick Cheney
43,43,44,"January 20, 2009",NaN,Barack Obama,U.S. Senator ( Class 3 ) from Illinois ...,Democratic,Joe Biden
44,44,45,"January 20, 2017",--,Donald Trump,Chairman of The Trump Organization ( 1971–...,Republican,Mike Pence

#### Seleccionar una columna
#### Tenemos dos formas:

In [ ]:
df.president

0          George Washington
1                 John Adams
2           Thomas Jefferson
3              James Madison
4               James Monroe
5          John Quincy Adams
6             Andrew Jackson
7           Martin Van Buren
8     William Henry Harrison
9                 John Tyler
10             James K. Polk
11            Zachary Taylor
12          Millard Fillmore
13           Franklin Pierce
14            James Buchanan
15           Abraham Lincoln
16            Andrew Johnson
17          Ulysses S. Grant
18       Rutherford B. Hayes
19         James A. Garfield
20         Chester A. Arthur
21          Grover Cleveland
22         Benjamin Harrison
23          Grover Cleveland
24          William McKinley
25        Theodore Roosevelt
26       William Howard Taft
27            Woodrow Wilson
28         Warren G. Harding
29           Calvin Coolidge
30            Herbert Hoover
31     Franklin D. Roosevelt
32           Harry S. Truman
33      Dwight D. Eisenhower
34           John F. Kennedy
35         Lyndon B. Johnson
36             Richard Nixon
37               Gerald Ford
38              Jimmy Carter
39             Ronald Reagan
40         George H. W. Bush
41              Bill Clinton
42            George W. Bush
43              Barack Obama
44              Donald Trump
Name: president, dtype: object

In [ ]:
df['president']

0          GEORGE WASHINGTON
1                 JOHN ADAMS
2           THOMAS JEFFERSON
3              JAMES MADISON
4               JAMES MONROE
5          JOHN QUINCY ADAMS
6             ANDREW JACKSON
7           MARTIN VAN BUREN
8     WILLIAM HENRY HARRISON
9                 JOHN TYLER
10             JAMES K. POLK
11            ZACHARY TAYLOR
12          MILLARD FILLMORE
13           FRANKLIN PIERCE
14            JAMES BUCHANAN
15           ABRAHAM LINCOLN
16            ANDREW JOHNSON
17          ULYSSES S. GRANT
18       RUTHERFORD B. HAYES
19         JAMES A. GARFIELD
20         CHESTER A. ARTHUR
21          GROVER CLEVELAND
22         BENJAMIN HARRISON
23          GROVER CLEVELAND
24          WILLIAM MCKINLEY
25        THEODORE ROOSEVELT
26       WILLIAM HOWARD TAFT
27            WOODROW WILSON
28         WARREN G. HARDING
29           CALVIN COOLIDGE
30            HERBERT HOOVER
31     FRANKLIN D. ROOSEVELT
32           HARRY S. TRUMAN
33      DWIGHT D. EISENHOWER
34           JOHN F. KENNEDY
35         LYNDON B. JOHNSON
36             RICHARD NIXON
37               GERALD FORD
38              JIMMY CARTER
39             RONALD REAGAN
40         GEORGE H. W. BUSH
41              BILL CLINTON
42            GEORGE W. BUSH
43              BARACK OBAMA
44              DONALD TRUMP
Name: president, dtype: object

#### Seleccionar varias columnas

In [ ]:
df[['president' , 'party' ]].head()

           president                    party
0  GEORGE WASHINGTON       Nonpartisan   [13]
1         JOHN ADAMS               Federalist
2   THOMAS JEFFERSON  Democratic-  Republican
3      JAMES MADISON  Democratic-  Republican
4       JAMES MONROE  Democratic-  Republican

#### Nombre de columnas

In [ ]:
df.columns

Index(['Unnamed: 0', 'S.No.', 'start', 'end', 'president', 'prior', 'party',
       'vice'],
      dtype='object')

In [ ]:
df.columns.values # Transformo a un array.

array(['Unnamed: 0', 'S.No.', 'start', 'end', 'president', 'prior',
       'party', 'vice'], dtype=object)

In [ ]:
list(df.columns.values) # Transformo a una lista

['Unnamed: 0', 'S.No.', 'start', 'end', 'president', 'prior', 'party', 'vice']

In [ ]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 45 entries, 0 to 44
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   Unnamed: 0  45 non-null     int64
 1   S.No.       45 non-null     int64
 2   start       45 non-null     object
 3   end         44 non-null     object
 4   president   45 non-null     object
 5   prior       45 non-null     object
 6   party       45 non-null     object
 7   vice        45 non-null     object
dtypes: int64(2), object(6)
memory usage: 2.9+ KB

In [ ]:
df.dtypes

Unnamed: 0     int64
S.No.          int64
start         object
end           object
president     object
prior         object
party         object
vice          object
dtype: object

# FUNCIONES DE COLUMNAS STR

#### Transformar una columna STR en minuscula o mayusculas

In [ ]:
df.president = df.president.str.upper()
#df['president'] = df.president.str.upper()
#df muestra resultado

#### Contar la cantidad de letras de una columna para cada fila

In [ ]:
df.president.str.len()

0     17
1     10
2     16
3     13
4     12
5     17
6     14
7     16
8     22
9     10
10    13
11    14
12    16
13    15
14    14
15    15
16    14
17    16
18    19
19    17
20    17
21    16
22    17
23    16
24    16
25    18
26    19
27    14
28    17
29    15
30    14
31    21
32    15
33    20
34    15
35    17
36    13
37    11
38    12
39    13
40    17
41    12
42    14
43    12
44    12
Name: president, dtype: int64

### ACTIVIDAD

##### Filtrar los presidentes que contengan "James" en su nombre
INVESTIGAR EN STACKOVERFLOW COMO HACER ESTO TENEMOS 10 MINUTOS.

SI HACEMOS LA BUSQUEDA EN INGLES ES MAS FACIL DE ENCONTRAR: 

POR EJ --->
HOW TO FILTER A STRING COLUMN PANDAS

In [ ]:
df.president.str.contains('JAMES')

0     False
1     False
2     False
3      True
4      True
5     False
6     False
7     False
8     False
9     False
10     True
11    False
12    False
13    False
14     True
15    False
16    False
17    False
18    False
19     True
20    False
21    False
22    False
23    False
24    False
25    False
26    False
27    False
28    False
29    False
30    False
31    False
32    False
33    False
34    False
35    False
36    False
37    False
38    False
39    False
40    False
41    False
42    False
43    False
44    False
Name: president, dtype: bool

Y si quiero ver las filas?

In [ ]:
df[df.president.str.contains('James')] #Va a mostrar las filas que sean True

,Unnamed: 0,S.No.,start,end,president,prior,party,vice
3,3,4,"March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton
4,4,5,"March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins
10,10,11,"March 4, 1845","March 4, 1849",James K. Polk,9th Governor of Tennessee (1839–1841),Democratic,George M. Dallas
14,14,15,"March 4, 1857","March 4, 1861",James Buchanan,United States Minister to the Court of St J...,Democratic,John C. Breckinridge
19,19,20,"March 4, 1881","September 19, 1881",James A. Garfield,U.S. Representative for Ohio's 19th District...,Republican,Chester A. Arthur

Y si quiero ver las que no contengan James?


```
Utilizo el operador ~
```

In [ ]:
~df.president.str.contains('James') #El simbolo ~ hace la negacion de la sentencia

0      True
1      True
2      True
3     False
4     False
5      True
6      True
7      True
8      True
9      True
10    False
11     True
12     True
13     True
14    False
15     True
16     True
17     True
18     True
19    False
20     True
21     True
22     True
23     True
24     True
25     True
26     True
27     True
28     True
29     True
30     True
31     True
32     True
33     True
34     True
35     True
36     True
37     True
38     True
39     True
40     True
41     True
42     True
43     True
44     True
Name: president, dtype: bool

In [ ]:
df[df.president != 'JOHN TYLER'] #Va a mostrar las filas que sean True

,Unnamed: 0,S.No.,start,end,president,prior,party,vice
0,0,1,"April 30, 1789","March 4, 1797",GEORGE WASHINGTON,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams
1,1,2,"March 4, 1797","March 4, 1801",JOHN ADAMS,1st Vice President of the United States,Federalist,Thomas Jefferson
2,2,3,"March 4, 1801","March 4, 1809",THOMAS JEFFERSON,2nd Vice President of the United States,Democratic- Republican,Aaron Burr
3,3,4,"March 4, 1809","March 4, 1817",JAMES MADISON,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton
4,4,5,"March 4, 1817","March 4, 1825",JAMES MONROE,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins
5,5,6,"March 4, 1825","March 4, 1829",JOHN QUINCY ADAMS,8th United States Secretary of State (1817–...,Democratic- Republican,John C. Calhoun
6,6,7,"March 4, 1829","March 4, 1837",ANDREW JACKSON,U.S. Senator ( Class 2 ) from Tennessee ...,Democratic,John C. Calhoun
7,7,8,"March 4, 1837","March 4, 1841",MARTIN VAN BUREN,8th Vice President of the United States,Democratic,Richard Mentor Johnson
8,8,9,"March 4, 1841","April 4, 1841",WILLIAM HENRY HARRISON,United States Minister to Colombia (1828–1829),Whig,John Tyler
10,10,11,"March 4, 1845","March 4, 1849",JAMES K. POLK,9th Governor of Tennessee (1839–1841),Democratic,George M. Dallas
11,11,12,"March 4, 1849","July 9, 1850",ZACHARY TAYLOR,Major General of the 1st Infantry Regiment ...,Whig,Millard Fillmore
12,12,13,"July 9, 1850","March 4, 1853",MILLARD FILLMORE,12th Vice President of the United States,Whig,Office vacant
13,13,14,"March 4, 1853","March 4, 1857",FRANKLIN PIERCE,Brigadier General of the 9th Infantry Unit...,Democratic,William R. King
14,14,15,"March 4, 1857","March 4, 1861",JAMES BUCHANAN,United States Minister to the Court of St J...,Democratic,John C. Breckinridge
15,15,16,"March 4, 1861","April 15, 1865",ABRAHAM LINCOLN,U.S. Representative for Illinois' 7th Distri...,Republican ( National Union ) [i],Hannibal Hamlin
16,16,17,"April 15, 1865","March 4, 1869",ANDREW JOHNSON,16th Vice President of the United States,National Union [i] ( Democratic ) [j],Office vacant
17,17,18,"March 4, 1869","March 4, 1877",ULYSSES S. GRANT,Commanding General of the U.S. Army ( 1864–...,Republican,Schuyler Colfax
18,18,19,"March 4, 1877","March 4, 1881",RUTHERFORD B. HAYES,29th & 32nd Governor of Ohio (1868–1872 & 1...,Republican,William A. Wheeler
19,19,20,"March 4, 1881","September 19, 1881",JAMES A. GARFIELD,U.S. Representative for Ohio's 19th District...,Republican,Chester A. Arthur
20,20,21,"September 19, 1881","March 4, 1885",CHESTER A. ARTHUR,20th Vice President of the United States,Republican,Office vacant
21,21,22,"March 4, 1885","March 4, 1889",GROVER CLEVELAND,28th Governor of New York (1883–1885),Democratic,Thomas A. Hendricks
22,22,23,"March 4, 1889","March 4, 1893",BENJAMIN HARRISON,U.S. Senator ( Class 1 ) from Indiana (...,Republican,Levi P. Morton
23,23,24,"March 4, 1893","March 4, 1897",GROVER CLEVELAND,22nd President of the United States (1885–1...,Democratic,Adlai Stevenson
24,24,25,"March 4, 1897","September 14, 1901",WILLIAM MCKINLEY,39th Governor of Ohio (1892–1896),Republican,Garret Hobart
25,25,26,"September 14, 1901","March 4, 1909",THEODORE ROOSEVELT,25th Vice President of the United States,Republican,Office vacant
26,26,27,"March 4, 1909","March 4, 1913",WILLIAM HOWARD TAFT,42nd United States Secretary of War (1904–1...,Republican,James S. Sherman
27,27,28,"March 4, 1913","March 4, 1921",WOODROW WILSON,34th Governor of New Jersey (1911–1913),Democratic,Thomas R. Marshall
28,28,29,"March 4, 1921","August 2, 1923",WARREN G. HARDING,U.S. Senator ( Class 3 ) from Ohio (191...,Republican,Calvin Coolidge
29,29,30,"August 2, 1923","March 4, 1929",CALVIN COOLIDGE,29th Vice President of the United States,Republican,Office vacant
30,30,31,"March 4, 1929","March 4, 1933",HERBERT HOOVER,3rd United States Secretary of Commerce (19...,Republican,Charles Curtis
31,31,32,"March 4, 1933","January 20, 1941",FRANKLIN D. ROOSEVELT,44th Governor of New York ( 1929–1932 ),Democratic,John Nance Garner
32,32,33,"April 12, 1945","January 20, 1953",HARRY S. TRUMAN,34th Vice President of the United States,Democratic,Office vacant
33,33,34,"January 20, 1953","January 20, 1961",DWIGHT D. EISENHOWER,Supreme Allied Commander Europe ( 1949–1952 ),Republican,Richard Nixon
34,34,35,"January 20, 1961","November 22, 1963",JOHN F. KENNEDY,U.S. Senator ( Class 1 ) from Massachuset...,Democratic,Lyndon B. Johnson
35,35,36,"November 22, 1963","January 20, 1969",LYNDON B. JOHNSON,37th Vice President of the United States,Democratic,Office vacant
36,36,37,"January 20, 1969","August 9, 1974",RICHARD NIXON,36th Vice President of the United States (1...,Republican,Spiro Agnew
37,37,38,"August 9, 1974","January 20, 1977",GERALD FORD,40th Vice President of the United States,Republican,Office vacant
38,38,39,"January 20, 1977","January 20, 1981",JIMMY CARTER,76th Governor of Georgia (1971–1975),Democratic,Walter Mondale
39,39,40,"January 20, 1981","January 20, 1989",RONALD REAGAN,33rd Governor of California ( 1967–1975 ),Republican,George H. W. Bush
40,40,41,"January 20, 1989","January 20, 1993",GEORGE H. W. BUSH,43rd Vice President of the United States,Republican,Dan Quayle
41,41,42,"January 20, 1993","January 20, 2001",BILL CLINTON,40th & 42nd Governor of Arkansas (1979–1981...,Democratic,Al Gore
42,42,43,"January 20, 2001","January 20, 2009",GEORGE W. BUSH,46th Governor of Texas ( 1995–2000 ),Republican,Dick Cheney
43,43,44,"January 20, 2009",NaN,BARACK OBAMA,U.S. Senator ( Class 3 ) from Illinois ...,Democratic,Joe Biden
44,44,45,"January 20, 2017",--,DONALD TRUMP,Chairman of The Trump Organization ( 1971–...,Republican,Mike Pence

### Funcion split
Podemos dividir una columna por el espacio y crear columnas nuevas con el nombre y el apellido por separado

In [ ]:
df.president.str.split(expand=True) # El parametro expand me permite dividir en columnas

             0           1           2     3
0       GEORGE  WASHINGTON        None  None
1         JOHN       ADAMS        None  None
2       THOMAS   JEFFERSON        None  None
3        JAMES     MADISON        None  None
4        JAMES      MONROE        None  None
5         JOHN      QUINCY       ADAMS  None
6       ANDREW     JACKSON        None  None
7       MARTIN         VAN       BUREN  None
8      WILLIAM       HENRY    HARRISON  None
9         JOHN       TYLER        None  None
10       JAMES          K.        POLK  None
11     ZACHARY      TAYLOR        None  None
12     MILLARD    FILLMORE        None  None
13    FRANKLIN      PIERCE        None  None
14       JAMES    BUCHANAN        None  None
15     ABRAHAM     LINCOLN        None  None
16      ANDREW     JOHNSON        None  None
17     ULYSSES          S.       GRANT  None
18  RUTHERFORD          B.       HAYES  None
19       JAMES          A.    GARFIELD  None
20     CHESTER          A.      ARTHUR  None
21      GROVER   CLEVELAND        None  None
22    BENJAMIN    HARRISON        None  None
23      GROVER   CLEVELAND        None  None
24     WILLIAM    MCKINLEY        None  None
25    THEODORE   ROOSEVELT        None  None
26     WILLIAM      HOWARD        TAFT  None
27     WOODROW      WILSON        None  None
28      WARREN          G.     HARDING  None
29      CALVIN    COOLIDGE        None  None
30     HERBERT      HOOVER        None  None
31    FRANKLIN          D.   ROOSEVELT  None
32       HARRY          S.      TRUMAN  None
33      DWIGHT          D.  EISENHOWER  None
34        JOHN          F.     KENNEDY  None
35      LYNDON          B.     JOHNSON  None
36     RICHARD       NIXON        None  None
37      GERALD        FORD        None  None
38       JIMMY      CARTER        None  None
39      RONALD      REAGAN        None  None
40      GEORGE          H.          W.  BUSH
41        BILL     CLINTON        None  None
42      GEORGE          W.        BUSH  None
43      BARACK       OBAMA        None  None
44      DONALD       TRUMP        None  None

### Como agregar columnas al dataframe?

In [ ]:
#Una forma:
df[['nombre1',"nombre2","apellido1","apellido2"]] = df.president.str.split(expand=True)

In [ ]:
#Otra forma:
df.join(df.president.str.split(expand=True))

,Unnamed: 0,S.No.,start,end,president,prior,party,vice,column1,column2,column3,column4,0,1,2,3
0,0,1,"April 30, 1789","March 4, 1797",George Washington,Commander-in-Chief of the Continental Army ...,Nonpartisan [13],John Adams,George,Washington,None,None,George,Washington,None,None
1,1,2,"March 4, 1797","March 4, 1801",John Adams,1st Vice President of the United States,Federalist,Thomas Jefferson,John,Adams,None,None,John,Adams,None,None
2,2,3,"March 4, 1801","March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr,Thomas,Jefferson,None,None,Thomas,Jefferson,None,None
3,3,4,"March 4, 1809","March 4, 1817",James Madison,5th United States Secretary of State (1801–...,Democratic- Republican,George Clinton,James,Madison,None,None,James,Madison,None,None
4,4,5,"March 4, 1817","March 4, 1825",James Monroe,7th United States Secretary of State (1811–...,Democratic- Republican,Daniel D. Tompkins,James,Monroe,None,None,James,Monroe,None,None
5,5,6,"March 4, 1825","March 4, 1829",John Quincy Adams,8th United States Secretary of State (1817–...,Democratic- Republican,John C. Calhoun,John,Quincy,Adams,None,John,Quincy,Adams,None
6,6,7,"March 4, 1829","March 4, 1837",Andrew Jackson,U.S. Senator ( Class 2 ) from Tennessee ...,Democratic,John C. Calhoun,Andrew,Jackson,None,None,Andrew,Jackson,None,None
7,7,8,"March 4, 1837","March 4, 1841",Martin Van Buren,8th Vice President of the United States,Democratic,Richard Mentor Johnson,Martin,Van,Buren,None,Martin,Van,Buren,None
8,8,9,"March 4, 1841","April 4, 1841",William Henry Harrison,United States Minister to Colombia (1828–1829),Whig,John Tyler,William,Henry,Harrison,None,William,Henry,Harrison,None
9,9,10,"April 4, 1841","March 4, 1845",John Tyler,10th Vice President of the United States,"Whig April 4, 1841 – September 13, 1841",Office vacant,John,Tyler,None,None,John,Tyler,None,None
10,10,11,"March 4, 1845","March 4, 1849",James K. Polk,9th Governor of Tennessee (1839–1841),Democratic,George M. Dallas,James,K.,Polk,None,James,K.,Polk,None
11,11,12,"March 4, 1849","July 9, 1850",Zachary Taylor,Major General of the 1st Infantry Regiment ...,Whig,Millard Fillmore,Zachary,Taylor,None,None,Zachary,Taylor,None,None
12,12,13,"July 9, 1850","March 4, 1853",Millard Fillmore,12th Vice President of the United States,Whig,Office vacant,Millard,Fillmore,None,None,Millard,Fillmore,None,None
13,13,14,"March 4, 1853","March 4, 1857",Franklin Pierce,Brigadier General of the 9th Infantry Unit...,Democratic,William R. King,Franklin,Pierce,None,None,Franklin,Pierce,None,None
14,14,15,"March 4, 1857","March 4, 1861",James Buchanan,United States Minister to the Court of St J...,Democratic,John C. Breckinridge,James,Buchanan,None,None,James,Buchanan,None,None
15,15,16,"March 4, 1861","April 15, 1865",Abraham Lincoln,U.S. Representative for Illinois' 7th Distri...,Republican ( National Union ) [i],Hannibal Hamlin,Abraham,Lincoln,None,None,Abraham,Lincoln,None,None
16,16,17,"April 15, 1865","March 4, 1869",Andrew Johnson,16th Vice President of the United States,National Union [i] ( Democratic ) [j],Office vacant,Andrew,Johnson,None,None,Andrew,Johnson,None,None
17,17,18,"March 4, 1869","March 4, 1877",Ulysses S. Grant,Commanding General of the U.S. Army ( 1864–...,Republican,Schuyler Colfax,Ulysses,S.,Grant,None,Ulysses,S.,Grant,None
18,18,19,"March 4, 1877","March 4, 1881",Rutherford B. Hayes,29th & 32nd Governor of Ohio (1868–1872 & 1...,Republican,William A. Wheeler,Rutherford,B.,Hayes,None,Rutherford,B.,Hayes,None
19,19,20,"March 4, 1881","September 19, 1881",James A. Garfield,U.S. Representative for Ohio's 19th District...,Republican,Chester A. Arthur,James,A.,Garfield,None,James,A.,Garfield,None
20,20,21,"September 19, 1881","March 4, 1885",Chester A. Arthur,20th Vice President of the United States,Republican,Office vacant,Chester,A.,Arthur,None,Chester,A.,Arthur,None
21,21,22,"March 4, 1885","March 4, 1889",Grover Cleveland,28th Governor of New York (1883–1885),Democratic,Thomas A. Hendricks,Grover,Cleveland,None,None,Grover,Cleveland,None,None
22,22,23,"March 4, 1889","March 4, 1893",Benjamin Harrison,U.S. Senator ( Class 1 ) from Indiana (...,Republican,Levi P. Morton,Benjamin,Harrison,None,None,Benjamin,Harrison,None,None
23,23,24,"March 4, 1893","March 4, 1897",Grover Cleveland,22nd President of the United States (1885–1...,Democratic,Adlai Stevenson,Grover,Cleveland,None,None,Grover,Cleveland,None,None
24,24,25,"March 4, 1897","September 14, 1901",William McKinley,39th Governor of Ohio (1892–1896),Republican,Garret Hobart,William,McKinley,None,None,William,McKinley,None,None
25,25,26,"September 14, 1901","March 4, 1909",Theodore Roosevelt,25th Vice President of the United States,Republican,Office vacant,Theodore,Roosevelt,None,None,Theodore,Roosevelt,None,None
26,26,27,"March 4, 1909","March 4, 1913",William Howard Taft,42nd United States Secretary of War (1904–1...,Republican,James S. Sherman,William,Howard,Taft,None,William,Howard,Taft,None
27,27,28,"March 4, 1913","March 4, 1921",Woodrow Wilson,34th Governor of New Jersey (1911–1913),Democratic,Thomas R. Marshall,Woodrow,Wilson,None,None,Woodrow,Wilson,None,None
28,28,29,"March 4, 1921","August 2, 1923",Warren G. Harding,U.S. Senator ( Class 3 ) from Ohio (191...,Republican,Calvin Coolidge,Warren,G.,Harding,None,Warren,G.,Harding,None
29,29,30,"August 2, 1923","March 4, 1929",Calvin Coolidge,29th Vice President of the United States,Republican,Office vacant,Calvin,Coolidge,None,None,Calvin,Coolidge,None,None
30,30,31,"March 4, 1929","March 4, 1933",Herbert Hoover,3rd United States Secretary of Commerce (19...,Republican,Charles Curtis,Herbert,Hoover,None,None,Herbert,Hoover,None,None
31,31,32,"March 4, 1933","January 20, 1941",Franklin D. Roosevelt,44th Governor of New York ( 1929–1932 ),Democratic,John Nance Garner,Franklin,D.,Roosevelt,None,Franklin,D.,Roosevelt,None
32,32,33,"April 12, 1945","January 20, 1953",Harry S. Truman,34th Vice President of the United States,Democratic,Office vacant,Harry,S.,Truman,None,Harry,S.,Truman,None
33,33,34,"January 20, 1953","January 20, 1961",Dwight D. Eisenhower,Supreme Allied Commander Europe ( 1949–1952 ),Republican,Richard Nixon,Dwight,D.,Eisenhower,None,Dwight,D.,Eisenhower,None
34,34,35,"January 20, 1961","November 22, 1963",John F. Kennedy,U.S. Senator ( Class 1 ) from Massachuset...,Democratic,Lyndon B. Johnson,John,F.,Kennedy,None,John,F.,Kennedy,None
35,35,36,"November 22, 1963","January 20, 1969",Lyndon B. Johnson,37th Vice President of the United States,Democratic,Office vacant,Lyndon,B.,Johnson,None,Lyndon,B.,Johnson,None
36,36,37,"January 20, 1969","August 9, 1974",Richard Nixon,36th Vice President of the United States (1...,Republican,Spiro Agnew,Richard,Nixon,None,None,Richard,Nixon,None,None
37,37,38,"August 9, 1974","January 20, 1977",Gerald Ford,40th Vice President of the United States,Republican,Office vacant,Gerald,Ford,None,None,Gerald,Ford,None,None
38,38,39,"January 20, 1977","January 20, 1981",Jimmy Carter,76th Governor of Georgia (1971–1975),Democratic,Walter Mondale,Jimmy,Carter,None,None,Jimmy,Carter,None,None
39,39,40,"January 20, 1981","January 20, 1989",Ronald Reagan,33rd Governor of California ( 1967–1975 ),Republican,George H. W. Bush,Ronald,Reagan,None,None,Ronald,Reagan,None,None
40,40,41,"January 20, 1989","January 20, 1993",George H. W. Bush,43rd Vice President of the United States,Republican,Dan Quayle,George,H.,W.,Bush,George,H.,W.,Bush
41,41,42,"January 20, 1993","January 20, 2001",Bill Clinton,40th & 42nd Governor of Arkansas (1979–1981...,Democratic,Al Gore,Bill,Clinton,None,None,Bill,Clinton,None,None
42,42,43,"January 20, 2001","January 20, 2009",George W. Bush,46th Governor of Texas ( 1995–2000 ),Republican,Dick Cheney,George,W.,Bush,None,George,W.,Bush,None
43,43,44,"January 20, 2009",NaN,Barack Obama,U.S. Senator ( Class 3 ) from Illinois ...,Democratic,Joe Biden,Barack,Obama,None,None,Barack,Obama,None,None
44,44,45,"January 20, 2017",--,Donald Trump,Chairman of The Trump Organization ( 1971–...,Republican,Mike Pence,Donald,Trump,None,None,Donald,Trump,None,None

# TRATAMIENTO DE FECHAS
INFORMACION SOBRE LOS FORMATOS DE FECHA:
https://www.geeksforgeeks.org/python-datetime-strptime-function/

In [10]:
from datetime import datetime

#### Transformar las fechas a DateTime

In [11]:
datetime.strptime("22-12-1999", "%d-%m-%Y")

datetime.datetime(1999, 12, 22, 0, 0)

In [4]:
datetime.strptime("21 June, 2018", "%d %B, %Y")

datetime.datetime(2018, 6, 21, 0, 0)

In [5]:
datetime.strptime("March 4, 1845", "%B %d, %Y")

datetime.datetime(1845, 3, 4, 0, 0)

#### Transformar columnas a datetime

In [6]:
fecha = pd.to_datetime('03/01/2020',dayfirst=False) #CTRL + BARRA ESPACIADORA DENTRO DE LOS PARENTESIS PARA VER LOS PARAMETROS QUE RECIBE. PODEMOS FILTRAR POR LETRA
fecha

Timestamp('2020-03-01 00:00:00')

In [7]:
fecha = pd.to_datetime('03/01/2020',dayfirst=True)
fecha

Timestamp('2020-01-03 00:00:00')

In [24]:
pd.to_datetime(df.start, format="%B %d, %Y")

0    1789-04-30
1    1797-03-04
2    1801-03-04
3    1809-03-04
4    1817-03-04
5    1825-03-04
6    1829-03-04
7    1837-03-04
8    1841-03-04
9    1841-04-04
10   1845-03-04
11   1849-03-04
12   1850-07-09
13   1853-03-04
14   1857-03-04
15   1861-03-04
16   1865-04-15
17   1869-03-04
18   1877-03-04
19   1881-03-04
20   1881-09-19
21   1885-03-04
22   1889-03-04
23   1893-03-04
24   1897-03-04
25   1901-09-14
26   1909-03-04
27   1913-03-04
28   1921-03-04
29   1923-08-02
30   1929-03-04
31   1933-03-04
32   1945-04-12
33   1953-01-20
34   1961-01-20
35   1963-11-22
36   1969-01-20
37   1974-08-09
38   1977-01-20
39   1981-01-20
40   1989-01-20
41   1993-01-20
42   2001-01-20
43   2009-01-20
44   2017-01-20
Name: start, dtype: datetime64[ns]

In [25]:
df.start = pd.to_datetime(df.start, format="%B %d, %Y")

# FILTROS
A la hora de filtrar tenemos dos operadores logicos: 
**& (and) y  | (or)**

Para hacer uso de estos operadores tenemos que tener dos sentencias logicas con alguno de los operadores que ya vimos **(>, <, >=, <=, ==)**

Si queremos utilizar el **&** o el **|** tenemos que encerrar las sentencias entre parentesis. 

`(sentencia) & (sentencia) `

Podemos filtrar los presidentes por fecha

In [33]:
from datetime import datetime
fecha_desde = datetime(1798,1,1)
fecha_hasta = datetime(1805,1,1)
df_filtrado = df[(df.start >= fecha_desde) & (df.start <= fecha_hasta)]
df[(df.start>= pd.to_datetime('1798-01-01')) & (df.start<= pd.to_datetime('1805-01-01'))] 

#diferencia = fecha_hasta - fecha_desde
#print(diferencia)

,Unnamed: 0,S.No.,start,end,president,prior,party,vice
2,2,3,1801-03-04,"March 4, 1809",Thomas Jefferson,2nd Vice President of the United States,Democratic- Republican,Aaron Burr

# FUNCIONES EXTRAS

#### Contar valores repetidos

In [ ]:
cant_mandatos = df.president.value_counts() # Por dault lo ordena de mayor cantidad a menor

Como podriamos mostrar el nombre de los presidentes que tuvieron mas de un mandato?

In [ ]:
cant_mandatos[df.president.value_counts() > 1]

GROVER CLEVELAND    2
Name: president, dtype: int64

Mostramos solo el nombre del presidente accediendo al indice y al primer valor con los corchetes [0]

In [ ]:
cant_mandatos[df.president.value_counts() > 1].index[0]

'GROVER CLEVELAND'

Mostramos la cantidad de presidencia pero de los valores por lo tanto no hay que acceder al indice solo a la ubicacion

In [ ]:
cant_mandatos[df.president.value_counts() > 1][0]

2

In [ ]:
df.president.value_counts().index[0] #Con el .index vemos los nombres de los presidentes, que es lo que estamos contando

'GROVER CLEVELAND'

In [ ]:
df.president.value_counts()[0]

2

# ACTIVIDAD
*  Obtener el nombre del presidente que empezo su mandato entre la fecha 1800-01-01 y 1805-01-01
*  Obtener las filas de los vicepresidentes que se llamen Aaron
*  Obtener la cantidad de presidentes por partido politico
---